@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk);
  line-height: 120%;
  cursor: default;
  letter-spacing: -0.03em;
}

p,
span {
  font-family: var(--font-inter);
  line-height: 150%;
  cursor: default;
}

.floating-ball-1 {
  border-radius: 29% 71% 30% 70% / 58% 47% 53% 42%;
  animation: ball1 60s linear infinite alternate;
}

.floating-ball-2 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: ball2 60s linear infinite alternate;
}

@keyframes ball1 {
  0% {
    left: -8%;
    top: -12%;
  }
  100% {
    left: -12%;
    top: -16%;
    transform: rotate(360deg);
  }
}

@keyframes ball2 {
  0% {
    right: -10%;
    bottom: -14%;
  }
  100% {
    right: -12%;
    bottom: -16%;
    transform: rotate(360deg);
  }
}

.RRR {
  background-color: #001E65;
  background-color: #001953;
  background-color: #00123b;

}

.hamb.is-active .hamb-inner,
.hamb.is-active .hamb-inner::before,
.hamb.is-active .hamb-inner::after {
  background-color: #00123b;
}

.dark .hamb.is-active .hamb-inner,
.dark .hamb.is-active .hamb-inner::before,
.dark .hamb.is-active .hamb-inner::after {
  background-color: #DFE1E8;
}

.hamb-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamb-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamb-inner,
.hamb-inner::before,
.hamb-inner::after {
  width: 20px;
  height: 2px;
  background-color: #00123b;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.dark .hamb-inner,
.dark .hamb-inner::before,
.dark .hamb-inner::after {
  background-color: #DFE1E8;
}

.hamb-inner::before,
.hamb-inner::after {
  content: "";
  display: block;
}

.hamb-inner::before {
  top: -6px;
}

.hamb-inner::after {
  bottom: -6px;
}

.hamb--squeeze .hamb-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamb--squeeze .hamb-inner::before {
  transition:
    top 0.075s 0.12s ease,
    opacity 0.075s ease;
}

.hamb--squeeze .hamb-inner::after {
  transition:
    bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamb--squeeze.is-active .hamb-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamb--squeeze.is-active .hamb-inner::before {
  top: 0;
  opacity: 0;
  transition:
    top 0.075s ease,
    opacity 0.075s 0.12s ease;
}

.hamb--squeeze.is-active .hamb-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition:
    bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
